$color: #F8F2E0;


$colorFrame: #77C4C2;
$colorFrameLight: #F3F7F7;
$colorContrast: #FC695B;
$colorContrast2: #76D1E3;


select
{
    //border: 0;
  vertical-align: middle;
  background: transparent;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 5px;
}


